---
layout: page
---

<div id="carousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px">
 <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img src="/assets/images/slide01.jpg" alt="">
      <div class="carousel-caption">
        <p>Мы хотим, чтобы дети с аутизмом – наши дети, дети других родителей – обрели свое достойное место в нашем обществе, чтобы общество научилось понимать и принимать детей и взрослых с аутизмом, а аутисты научились понимать и принимать наше общество в той степени, в какой для каждого из них это возможно</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Сделать пожертвование</a></p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/images/slide01.jpg" alt="">
      <div class="carousel-caption">
        <p>Мы мечтаем о том, чтобы каждый особенный ребенок мог раскрыть свой потенциал и стать художником или инженером, менеджером или математиком – или просто человеком, которому интересно и не страшно жить</p>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">Записаться в волонтеры</a></p>
      </div>
    </div>

    <div class="item">
      <img src="/assets/images/slide01.jpg" alt="">
      <div class="carousel-caption">
        <p>Только Алека, найди другую картинку! А то "мечтаем стать художником или инженером"&nbsp;- 
        а на фотке попрошайка с миской...</p>
        <p><a class="btn btn-lg btn-default" href="#" role="button">Найти другую картинку</a></p>
      </div>
    </div>

  </div>
</div>

<blockquote>
Мы сделаем все для того, чтобы диагноз «РАС» перестал быть приговором для семьи, а стал руководством к действию. Семья с особенным ребенком может и должна получать максимально возможную поддержку от общества и государства. У наших детей должно быть будущее. Мы знаем, что с нами, родителями, строить это будущее могут и
должны талантливые педагоги, ученые, врачи. Мы будем создавать сообщество родителей и профессионалов для того, чтобы совместными усилиями помогать детям и взрослым с аутизмом, а также их семьям.
</blockquote>

{{ content }}

